


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.about{
  width: 100%;
  height: 80vh;
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
}


.left{
  width: 50%;
  min-width: 500px;
  height: 80vh;
  /* background-color: pink; */
  display: flex;
  justify-content: end;
    /* flex-grow: 1; */
}

.child{
  width: 60%;
  height: 70vh;
  /* background-color: orange; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.child h2{
  font-size: 50px;
  width: 200px;
}

.line{
  width: 50px;
  height: 3px;
  background-color: black;
}

.btns button{
  padding: 5px 10px;
}
.btns button:nth-child(1){
  background-color: black;
  color: white;
}

.btns button:nth-child(1):hover{
  background-color: white;
  color: black;
}
.btns button:nth-child(2):hover{
  background-color: black;
  color: white;
}


.right{
  width: 50%;
  min-width: 500px;
  height: 80vh;
  /* background-color: green; */
  background-image: url("https://static.wixstatic.com/media/ea71bb_e7959a5be116482b9727a9be900d2d35~mv2_d_5454_3840_s_4_2.jpg/v1/fill/w_941,h_671,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/ea71bb_e7959a5be116482b9727a9be900d2d35~mv2_d_5454_3840_s_4_2.jpg");
  background-size: cover;
  background-position: center;
  flex-grow: 1;
}


/* flex 
flex-item  order flex-grow   align-self */


/* repo  repository   online folder */